body {
	background-color: #D6C0B3;
}
/*style for img*/
img{
	width: 330px;
	height: 250px;
	margin: 20px;
}

.container {
	background-color: #AB886D;
}

.footer {
    background-color: #F5F5DC;
    color: black;
    padding: 20px;
    text-align: center;
    margin: 20px;
    border-radius: 10px;
}